.RData
.RHistory
.RProj.user/
.httr-oauth
.backup/
.droptoken.rds
.code/decks_unzipped/
droptoken.rds
backup
.Rproj.user
mstat2.Rproj
download_folder
external_files -kehitksen jalkeen
lastenhoito.R
humala.csv
pelit.csv
